<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_role_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,27},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>battle_role_angry_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,27},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>battle_role_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,43}</string>
            </dict>
            <key>battle_role_dialog_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>battle_role_dialog_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>battle_role_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,42},{53,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,6}}</string>
                <key>sourceSize</key>
                <string>{53,6}</string>
            </dict>
            <key>battle_role_hp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,42},{56,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,7}}</string>
                <key>sourceSize</key>
                <string>{56,7}</string>
            </dict>
            <key>battle_role_hp_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,47},{53,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,6}}</string>
                <key>sourceSize</key>
                <string>{53,6}</string>
            </dict>
            <key>battle_role_hp_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{53,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,6}}</string>
                <key>sourceSize</key>
                <string>{53,6}</string>
            </dict>
            <key>battle_role_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{73,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,38}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_role.png</string>
            <key>size</key>
            <string>{229,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:928c0a72bb51d4e290cd109e94f840e7:1/1$</string>
            <key>textureFileName</key>
            <string>battle_role.png</string>
        </dict>
    </dict>
</plist>
